[submodule "subs/nginx-proxy"]
	path = subs/nginx-proxy
	url = git@github.com:Brainfood-com/nginx-proxy.git
	branch = master
[submodule "subs/email-hub"]
	path = subs/email-hub
	url = git@github.com:Brainfood-com/email-hub.git
	branch = master
[submodule "subs/jenkins"]
	path = subs/jenkins
	url = git@github.com:Brainfood-com/jenkins.git
	branch = master
